<header> 
    <div class="uk-panel uk-padding uk-background-secondary uk-light">
        <a class="uk-logo" href="#">Logo</a>
    </div>

  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    Menu Button 1
                </a>
            </li>
            <li>
                <a href="#">
                    Menu Button 2
                </a>
            </li>
            <li>
                <a href="#">
                    Menu Button 3
                </a>
            </li>
            <li>
                <a href="#">
                    Menu Button 4
                </a>
            </li>
        </ul>
    </div>
  </nav>
</header>
