<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>

  <link rel="canonical" href="{{ site.url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <!-- UIKIT Framework -->
  <link rel="stylesheet" href="{{ "/assets/uikit/css/uikit.min.css" | relative_url }}">
  <script src="{{ "/assets/uikit/js/uikit.min.js" | relative_url }}"></script> 
  <script src="{{ "/assets/uikit/js/uikit-icons.min.js" | relative_url }}"></script> 
    
  {% feed_meta %}
</head>
