<header> 
    <div class="uk-panel uk-padding uk-light main-navbar">
            <span class="main-name">Рога &</span> 
            <span class="secondary-name">Копыта</span>
            <span class="phone">555-000-666</span>
    </div>

    <nav class="uk-navbar-container main-menu" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">
                        Menu Button 1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Menu Button 2
                    </a>
                </li>
                <li>
                    <a href="#">
                        Menu Button 3
                    </a>
                </li>
                <li>
                    <a href="#">
                        Menu Button 4
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>