<div class="uk-position-relative uk-visible-toggle uk-light uk-margin" uk-slider="center: true">

        <ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 10">
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="{{ "/assets/images/photo.jpg" | relative_url }}" alt="" uk-cover>
                 
                    <div class="uk-position-center uk-panel"><h1>1</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="{{ "/assets/images/dark.jpg" | relative_url }}" alt="" uk-cover>

                    <div class="uk-position-center uk-panel"><h1>2</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="{{ "/assets/images/light.jpg" | relative_url }}" alt="" uk-cover>
                 
                    <div class="uk-position-center uk-panel"><h1>3</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="{{ "/assets/images/photo2.jpg" | relative_url }}" alt="" uk-cover>
                 
                    <div class="uk-position-center uk-panel"><h1>4</h1></div>
                </div>
            </li>
            <li class="uk-width-3-4">
                <div class="uk-cover-container">
                    <img src="{{ "/assets/images/photo3.jpg" | relative_url }}" alt="" uk-cover>
                 
                    <div class="uk-position-center uk-panel"><h1>5</h1></div>
                </div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    </div>